body {
  font-family: Arial, sans-serif;
}
.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.color-box {
  width: 20px;
  height: 20px;
  background-color: red;
  border-color: rgb(64, 64, 64);
  border: 2px solid;
  margin-bottom: 15px;
}
h1 {
  margin: 50px;
  font-size: 3rem;
}
