.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}
.count-display {
    font-size: 5em;
}
.first {
  padding: 2px 100px;
  background-color: rgb(173, 220, 123);
  margin-bottom: 15px;
  border-radius: 2em;
}
.second {
  padding: 20px 10px;

}
.second button {
  margin: 0px 5px;
  padding: 10px 10px;
  border-radius: 1em;
  background-color: hsl(234, 93%, 63%);
}
.second button:hover {
    cursor: pointer;
  }
  .second button:active {
    background-color: hsl(234, 93%, 73%); /* 10% lighter */
  }